<html>
    <head>
        <link rel='stylesheet' href='{{ static_url("navbar.css") }}'>
        <title>
            {% block title %}
                Title
            {% end %}
        </title>

    </head>

    <body>
        <ul id="navbar">
            {% for item in navbar_items %}
                <li class="navbar-item">
                    <a href="{{ escape(item["route"]) }}">
                        {{ escape(item["name"]) }}
                    </a>
                </li>
            {% end %}
        </ul>

        {% block body %}
            Main Body
        {% end %}
    </body>
</html>