<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Boiler junk -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS Reset -->
        <link rel='stylesheet' href='{{ static_url("css/reset.css") }}'>

        <!-- JQuery -->
        <script src="{{ static_url("js/jquery-3.3.1.js") }}"></script>

        <!-- My custom CSS and JS -->
        <link rel='stylesheet' href='{{ static_url("css/base.css") }}'>
        <link rel='stylesheet' href='{{ static_url("css/card.css") }}'>
        <script src="{{ static_url("js/card-fade-in.js") }}"></script>

        {% block head %}{% end %}

        <title>
            {% block title %}
                Title
            {% end %}
        </title>
    </head>

    <body>
        {% include navbar.html %}

        <div id='main'>
            {% block body %}
                Main Body
            {% end %}
        </div>
    </body>
</html>