{% extends "base.html" %}

{% block head %}
    <link rel='stylesheet' href='{{ static_url("css/home.css") }}'>
{% end %}

{% block title %}
    Greg Edelston
{% end %}

{% block body %}
    <div class='headline'>
        <div class='headline__cell headline__cell--thin'>
            <img class='headline__cell-contents--img headline-img__border-radius--left-corner-only' src='{{ static_url("images/me/Headshot-right-facing.jpg") }}'>
        </div>

        <div class='headline__cell '>
            <div class='headline__cell-contents--text headline__cell-contents--center headline__cell-contents--text-small'>
                Hi, I'm
            </div>
            <div class='headline__cell-contents--text headline__cell-contents--center'>
                Greg Edelston!
            </div>
            <!--
            <div class='headline__cell-contents--text headline__cell-contents--center headline__cell-contents--text-small'>
                It's nice to meet you.
            </div>
            -->
        </div>

        <div class='headline__cell headline__cell--thin'>
            <img class='headline__cell-contents--img headline-img__border-radius--right-corner-only' src='{{ static_url("images/me/desert-enhanced.jpg") }}'>
        </div>
    </div>

    <div class='cards-container'>
        <!--
        <div class='card'>
            <div class='card__contents'>
                <div class='card__title'>
                    About Me
                </div>
                <div class='card__body'>
                    <div>
                        I'm a software engineer.
                    </div>
                    <div>
                        I practice improv, Zen, Getting Things Done, and staying fit.
                    </div>
                    <div>
                        And I'm looking for a job!
                    </div>
                </div>
            </div>
        </div>
        -->

        <div class='card card--third-width card--left'>
            <div class='card__contents'>
                <div class='card__title'>
                    Development
                </div>
                <div class='card__body'>
                    <p>
                        I'm a software enginner.
                    </p>
                    <p>
                        Check out my portfolio at <a href='www.google.com'>this</a> bogus link, or my résumé at <a href="/resume">this</a> non-bogus link.
                    </p>
                    <p>
                        If you'd like to get in touch, <a href="/contact">please do</a>.
                    </p>
                </div>
            </div>
        </div>

        <div class='card card--third-width card--center'>
            <div class='card__contents'>
                <div class='card__title'>
                    Practice
                </div>
                <div class='card__body'>
                    <p>
                        I'm always practicing. Here are a few of the practices I maintain:
                    </p>
                    <ul>
                        <li>
                            Zen meditation
                        </li>
                        <li>
                            Improv comedy
                        </li>
                        <li>
                            Music
                        </li>
                        <li>
                            Getting Things Done®
                        </li>
                        <li>
                            Yoga
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class='card card--third-width card--right'>
            <div class='card__contents'>
                <div class='card__title'>
                    Blog
                </div>
                <div class='card__body'>
                    <p>
                        If I had any blog posts, here I would display the most recent.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% end %}