{% extends "base.html" %}

{% block head %}
    <link rel='stylesheet' href='{{ static_url("css/home.css") }}'>
{% end %}

{% block title %}
    Greg Edelston
{% end %}

{% block body %}
    <div class='headline'>
        <div class='headline__cell headline__cell--thin'>
            <img class='headline__cell-contents--img headline-img__border-radius--left-corner-only' src='{{ static_url("images/me/Headshot-right-facing.jpg") }}'>
        </div>

        <div class='headline__cell '>
            <div class='headline__cell-contents--text headline__cell-contents--center headline__cell-contents--text-small'>
                Hi, I'm
            </div>
            <div class='headline__cell-contents--text headline__cell-contents--center'>
                Greg Edelston!
            </div>
            <div class='headline__cell-contents--text headline__cell-contents--center headline__cell-contents--text-small'>
                It's nice to meet you.
            </div>
        </div>

        <div class='headline__cell headline__cell--thin'>
            <img class='headline__cell-contents--img headline-img__border-radius--right-corner-only' src='{{ static_url("images/me/desert-enhanced.jpg") }}'>
        </div>
    </div>


    <div class='card'>
        <div class='card__title'>
            About Me
        </div>
        <div class='card__contents'>
            <div class='card__contents'>
                <div class='card__contents-line'>
                    I'm a software engineer.
                </div>
                <div class='card__contents-line'>
                    I practice improv, Zen, Getting Things Done, and staying fit.
                </div>
                <div class='card__contents-line'>
                    And I'm looking for a job!
                </div>
            </p>
        </div>
    </div>
{% end %}