@font-face {
    font-family: "ADAM.CG";
    src: url("../fonts/ADAM.CG\ PRO.otf");
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito/Nunito-Regular.ttf");
}

#main {
    background-color: #60C7E8;
    height: 100%;
    width: 100%;
    position: absolute;
    line-height: 1.5;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
}

.social-logos__img {
    width: 48px;
    padding-right: 8px;
}

.social-logos__link {
    text-decoration: none;
}