.cards-container {
    margin-left: 6.67%;
    margin-right: 6.67%;
    margin-top: 20px;
}

.card {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background: #F5F5F5;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px 0px 20px 0px;
    position: relative;
    font-family: "Nunito";
    display: inline-block;
    background-color: #eee;
}

.card__title {
    font-size: 36px;
    font-family: "ADAM.CG";
    color: #333;
    padding-bottom: 12px;
}

.card__contents {
    position: relative;
    padding: 24px 24px;
}

.card__body-line {
    padding-bottom: 7px;
}

.card--half-width {
    width: 48%;
}

.card--third-width {
    width: 32%;
}

.card--left {
    float: left;
}

.card--center {
    float: left;
    margin-left: 2%;
    margin-right: auto;
}
.card--right {
    float: right;
}