#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar-item {
    float: left;
    font-family: "Nunito";
}

.navbar-item a {
    display: inline-block;
    /*color: white;*/
    color: #F5F5F5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-item a:hover {
    background-color: #111;
    color: #60C7E8;
}

.navbar-current {
    background-color: #B34BFF;
}

.navbar-current a:hover {
    background-color: #7A33AD;
}